// Color:
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #1b8561;
$color-white: #ffffff;
$color-black: #000000;
$color-gray-1: #616161;
$color-gray-2: #7e7e7e;
$color-orange-light: #ffbb00;
$color-orange-dark : #ff7300;
$color-red : #ff0000;
$color-blue-light : #00b7ff;
$color-blue-dark : #0056b8;

//Grid:
$gutter-horizontal: 5rem;
$gutter-vertical: 0.5rem;
